/* min widths */
@media all and (min-width: 340px) {
  .v-main-hero .v-aside-image {
    height: 800px;
  }
}

@media all and (min-width: 360px) {
  .v-main-hero .v-aside-image {
    height: 860px;
  }
}
@media all and (min-width: 380px) {
  .v-main-hero .v-aside-image {
    height: 870px;
  }

  #v-guest .nav-tabs .nav-link {
    padding: 0.75rem 1.5rem;
  }

  .v-hero-content .nav-link {
    padding: .75rem 1.35rem;
  }
}

@media all and (min-width: 400px) {
  .v-main-hero .v-aside-image {
    height: 890px;
  }
}

@media all and (min-width: 420px) {
  .v-main-hero .v-aside-image {
    height: 925px;
  }
}

@media all and (min-width: 464px) {
}

@media all and (min-width: 476px) {
  .v-main-hero .v-aside-image {
    height: 940px;
  }
}

@media all and (min-width: 500px) {
  .v-main-hero .v-aside-image {
    height: 700px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    width: 50%;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    width: 40%;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float {
    position: absolute !important;
    display: flex;
    top: 0;
    right: 0;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float img {
    width: 95%;
  }
}

@media all and (min-width: 576px) {
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    width: 48%;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    width: 38%;
  }
  .v-hero-content .tab-content .tab-box {
    border-right: 1px solid rgba(224, 222, 247, 1);
  }
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 768px) {
  .v-page-hero .v-hero-content-title {
    font-size: calc(4vw);
  }
  .v-main-hero .v-aside-image {
    height: 800px;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float {
    top: 0;
    right: 10%;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float img {
    width: 100%;
  }
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 991px) {
  #v-guest .v-aside-image-layer .v-each-float:nth-of-type(1) {
    transform: translate(-5%, -50%) !important;
  }
  #v-guest .v-aside-image-layer .v-each-float:nth-of-type(2) {
    transform: translate(15%, -3%) !important;
  }
}

@media all and (min-width: 992px) {
  .v-hero-content .tab-content-container {
    margin-top: 6.5rem !important;
  }
  .v-hero-content .tab-content {
    position: relative;
    z-index: 10;
    width: 720px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    width: 60%;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: -10%;
  }
  .v-main-hero .v-aside-image {
    height: 600px;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float {
    top: 0;
    right: -10%;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float img {
    width: 75%;
  }
}

@media all and (min-width: 1024px) {
}

@media all and (min-width: 1200px) {
  .v-page-hero .v-hero-content-title {
    font-size: calc(3vw);
  }
  .v-main-hero .v-aside-image {
    height: 720px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    width: 55%;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    width: 45%;
    position: absolute;
    bottom: 0;
    right: -5%;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float {
    top: 0;
    right: 0%;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float img {
    width: 75%;
  }
}
@media all and (min-width: 1400px) {
  .v-main-hero .v-aside-image {
    height: 800px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    width: 50%;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    width: 40%;
  }
  .v-main-hero .v-aside-image .v-aside-layer .v-each-float img {
    width: 90%;
  }
}

/* max widths */
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 500px) {
}

@media all and (max-width: 475px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 375px) {
}

@media all and (max-width: 350px) {
}

@media all and (min-width: 768px) and (orientation: landscape) {
}
