/* min widths */
@media all and (min-width: 320px) {
}

@media all and (min-width: 340px) {
  
}

@media all and (min-width: 360px) {
  
}
@media all and (min-width: 380px) {

  #v-guest .nav-tabs .nav-link {
    padding: 0.75rem 1.5rem;
  }

  .v-hero-content .nav-link {
    padding: .75rem 1.35rem;
  }
}

@media all and (min-width: 380px) {
  
}

@media all and (min-width: 400px) {
  
}

@media all and (min-width: 420px) {
  
}

@media all and (min-width: 450px) {
  
}

@media all and (min-width: 464px) {
}

@media all and (min-width: 476px) {
  
}

@media all and (min-width: 500px) {
}

@media all and (min-width: 576px) {
  .v-hero-content .tab-content .tab-box {
    border-right: 1px solid rgba(224, 222, 247, 1);
  }
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 768px) {
  .v-page-hero .v-hero-content-title {
    font-size: calc(4vw);
  }
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 991px) {
  
}

@media all and (min-width: 992px) {
  .v-hero-content .tab-content {
    position: relative;
    z-index: 10;
    width: 720px;
  }
  
}

@media all and (min-width: 1024px) {
}

@media all and (min-width: 1200px) {
  .v-page-hero .v-hero-content-title {
    font-size: calc(3vw);
  }
}
@media all and (min-width: 1400px) {
}

/* max widths */
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 500px) {
}

@media all and (max-width: 475px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 375px) {
}

@media all and (max-width: 350px) {
}

@media all and (min-width: 768px) and (orientation: landscape) {
}
